.frame3 {
    position: relative;
    /* top: 0%;
    left: 0%; */
    width: 400px;
    height: 400px;
    /* margin-top: -200px;
    margin-left: -200px; */
    border-radius: 2px;
      box-shadow: 4px 8px 16px 0 rgba(0,0,0,0.1);
      overflow: hidden;
      background: #6ebff5;
    color: #333;
      font-family: 'Open Sans', Helvetica, sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
  }
  
  .center3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }
  
  #ground {
      width: 230px;
      height: 100px;
      background-color: #fff1a8;
      border-radius: 0px 0px 115px 115px / 0px 0px 115px 115px;
      position: absolute;
      top: 20px;
      left: -120px;
  }
  
  @keyframes sunPosition {
      0% {
          transform: rotate(-60deg);
      }
      50% {
          transform: rotate(10deg);
      }
      100% {
          transform: rotate(80deg);
      }
  }
  
  #sun {
      width: 30px;
      height: 30px;
      border-radius: 15px;
      background-color: yellow;
      
      position: absolute;
      left: -25px;
      top: -95px;
      transform: rotate(-90deg);
      transform-origin: 50% 400%;
      
      animation-duration: 5s;
    animation-name: sunPosition;
    animation-iteration-count: infinite;
  }
  
  @keyframes pyramid-color-left {
      0%   { background-color: #fcf6cc; }
      100% { background-color: #b0ac8d; }
  }
  
  @keyframes pyramid-color-right {
      0%   { background-color: #b0ac8d; }
      100% { background-color: #fcf6cc; }
  }
  
  #pyramid-left {
      width: 90px;
      height: 90px;
      background: #fcf6cc;
      clip-path: polygon(0px 80px, 70px 0, 90px 80px);
      
      position: absolute;
      top: -60px;
      left: -80px;
      
    animation-name: pyramid-color-left;
      animation-duration: 5s;
      animation-timing-function: ease;
      animation-iteration-count: infinite;
      animation-direction: normal;
  }
  
  #pyramid-right {
      width: 90px;
      height: 90px;
      background: #fff;
      clip-path: polygon(20px 80px, 0 0, 80px 80px);
      
      position: absolute;
      top: -60px;
      left: -10px;
      
      animation-name: pyramid-color-right;
      animation-duration: 5s;
      animation-timing-function: ease;
      animation-iteration-count: infinite;
      animation-direction: normal;
  }
  
  #grayFrame {
      width: 225px;
      height: 225px;
      border-radius: 150px;
      border: solid 20px #383838;
          
      position: absolute;
      right: -130px;
      bottom: -130px;
  }
  
  @keyframes shadow-pyramid {
      0% {
          clip-path: polygon(20px 0px, 170px 0, 190px 20px);
      }
      50%{
          clip-path: polygon(20px 0px, 170px 0, 90px 70px);
      }
      100%{
          clip-path: polygon(20px 0px, 170px 0, 0px 30px);
      }
  }
  
  #pyramidShadow {
      width: 210px;
      height: 90px;
      background: #8a825a;
      clip-path: polygon(00px 0px, 150px 0, 90px 80px);
      position: absolute;
      right: -110px;
      bottom: -110px;
      
      animation-name: shadow-pyramid;
      animation-duration: 5s;
      animation-timing-function: ease;
      animation-iteration-count: infinite;
      animation-direction: normal;
  }